NEXT_PUBLIC_URL=http://localhost:3000
NEXT_PUBLIC_BASE_RPC_URL=https://mainnet.base.org
NEXT_PUBLIC_USDC_RECEIVER=
NEXT_PUBLIC_DEEP_READING_PRICE_USDC=0.5
FARCASTER_HEADER=
FARCASTER_PAYLOAD=
FARCASTER_SIGNATURE=
